# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
migrations
demo.yml
schema-mig
.metana.yml
schema
# Test binary, built with `go test -c`
*.test
tmpl.go
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea
.vscode